name: Update Submodules
on:
  # 手動実行
  workflow_dispatch:
  # 定期実行 (毎日午前3時 UTC)
  push:
    branches:
      - main
  # リポジトリディスパッチ
  repository_dispatch:
    types: [update_submodule]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Update submodule
        run: |
          git submodule update --remote
          git add .
          git commit -m "Update submodules"
          git push
